# contrib/simple-midi-control-section.rc
#
# 2018-01-31 to 2018-01-31
#
# See the sequencer64-doc project and the PDF file it contains.
# This setup file is explained in section 9.2 "Sequencer64 'rc' File /
# MIDI Control Extended Automation Section.

[midi-control]

# The leftmost number on each line here is the pattern number, from
# 0 to 31 (and beyond for the mute-groups). Next, there are three
# groups of bracketed numbers that follow:
#
#    [toggle]  [on]  [off]
#
# In each group, there are six numbers:
#
#    [on/off invert status d0 d1min d1max]
#
# 'on/off' enables/disables (1/0) the MIDI control for the pattern.
# 'invert' (1/0) causes the opposite if data is outside the range.
# 'status' is by MIDI event to match (channel is NOT ignored).
# 'd0' is the first data value.  Example: if status is 144 (Note On),
# then d0 represents Note 0.
# 'd1min'/'d1max' are the range of second values that should match.
# Example:  For a Note On for note 0, 0 and 127 indicate that any
# Note On velocity will cause the MIDI control to take effect.

84      # MIDI controls count (74 or 84)

#  ------------------ on/off (indicates if the section is enabled/active)
# | ----------------- inverse
# | |  -------------- MIDI status (event) byte (e.g. note on)
# | | |  ------------ data 1 (e.g. note number)
# | | | |  ---------- data 2 min
# | | | | |  -------- data 2 max
# | | | | | |
# v v v v v v
# 0 0 0 0 0 0]   [0 0 0 0 0 0]   [0 0 0 0 0 0]
# Toggle          On              Off
#
# Note On  = 144 = 0x90
# Note Off = 145 = 0x91
#
#           00000000001111111111222     MIDI note number
#           01234567890123456789012
#            B B  B B B  B B  B B B     Black keys
#           W W WW W W WW W WW W W      White keys
#           ^ ^ ^^ ^ ^ ^^ ^ ^^ ^ ^
#           | | || | | || | || | |
#           | | || | | || | || |  ---- MIDI RECORD off
#           | | || | | || | ||  ------ MIDI RECORD on
#           | | || | | || | | -------- MIDI RECORD toggle
#           | | || | | || |  --------- MIDI THRU off
#           | | || | | ||  ----------- MIDI THRU on
#           | | || | | | ------------- MIDI THRU toggle
#           | | || | |  -------------- BPM page up
#           | | || |  ---------------- BPM step up
#           | | ||  ------------------ BPM step down
#           | | | -------------------- BPM page down
#           | |  --------------------- Play
#           |  ----------------------- Pause
#            ------------------------- Stop
#
# Note 0 (red) is Stop.
# Note 2 (yellow) is Pause.
# Note 4 (green) is Play.
# Note 5 (light cyan) is BPM page down.
# Note 7 (dark cyan) is BPM step down.
# Note 9 (dark cyan) is BPM step up.
# Note 11 (light cyan) is BPM page up.
# Note 12, 14, and 16 are MIDI THRU toggle, on, and off.  The velocity
# value from 0 to 31 indicates the sequence in the current set to act upon.
# Note 17, 19, and 21 are MIDI RECORD toggle, on, and off.  The velocity
# value from 0 to 31 indicates the sequence in the current set to act upon.
#
# bpm up: Note On 9
64 [0 0   0   0   0   0] [1 0 144   9   0 127] [0 0   0   0   0   0]
# bpm down: Note On 7
65 [0 0   0   0   0   0] [1 0 144   7   0 127] [0 0   0   0   0   0]
# screen set up:
66 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# screen set down:
67 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# mod replace:
68 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# mod snapshot:
69 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# mod queue:
70 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# mod gmute:
71 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# mod glearn:
72 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# screen set play:
73 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# Extended MIDI controls:

# start playback (stop/off/red=0, pause/toggle/yellow=2, and
# start/on/green=4).  See the tutorial.
74 [1 0 144   2   0 127] [1 0 144   4   0 127] [1 0 144   0   0 127]
# performance record:
75 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# solo (toggle, on, off):
76 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# MIDI THRU (toggle, on, off):
77 [1 0 144  12   0 127] [1 0 144  14   0 127] [1 0 144  16   0 127]
# bpm page up: Note On 11
78 [0 0   0   0   0   0] [1 0 144  11   0 127] [0 0   0   0   0   0]
# bpm page down: Note On 5
79 [0 0   0   0   0   0] [1 0 144   5   0 127] [0 0   0   0   0   0]
# screen set by number:
80 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# MIDI RECORD (toggle, on, off):
81 [1 0 144  17   0  31] [1 0 144  19   0  31] [1 0 144  21   0  31]
# reserved for expansion:
82 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]
# reserved for expansion:
83 [0 0   0   0   0   0] [0 0   0   0   0   0] [0 0   0   0   0   0]

# vim: sw=4 ts=4 wm=4 et ft=sh
