# .gitignore for sequencer64
#
# Chris Ahlstrom
# Updates: 2015-09-12 to 2018-03-18

~$*
.*
*~
*.a
ABOUT-NLS
aclocal.m4
*.aps
/autom4te.cache
autom4te.cache/
*.aux
aux-files
Backup*/
[Bb]in
*.bak
*.bbl
*.blg
blib/
bootstrap.stamp
_build/
.build/
Build
Build.bat
.builds
build-stamp configure-stamp
*.Cache
ClientBin
/compile
config
config.h
config.status
core
.coverage
cover_db/
*.dbmdl
[Dd]ebug/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/sequencer64/
debian/sequencer64.postinst.debhelper
debian/sequencer64.postrm.debhelper
debian/sequencer64.substvars
debian/tmp
.deps/
Desktop.ini
develop-eggs
.directory
dist
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/html
DocProject/Help/Html2
DocProject/Help/*.HxC
DocProject/Help/*.HxT
dox-stamp
doxygen_sqlite3.db
*.dvi
[Ee]xpress
*.egg
*.egg-info
eggs
*.fdb_latexmk
*.gcda
*.gcno
*.gcov
Generated_Code # added for RIA/Silverlight projects
!.gitignore
*.glg
*.glo
*.gls
html/
i18n/
*_i.c
*.idb
*.idx
*.ilg
*.ilk
include/config.h.in
inc/
*.ind
.installed.cfg
ipch/
*.ist
*.la
*.lai
.last_cover_stats
latex
latex/
.libs/
libtool
*.lo
*.lof
*.lot
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
*.maf
Makefile
Makefile.in
Makefile.in.in
Makefile.old
MANIFEST.bak
*.meta
META.yml
Midiclocker64/midiclocker64
moc_*.cpp
*.mo
*.moc.cpp
.mr.developer.cfg
*.mtc
*.mtc0
MYMETA.yml
*.nav
*.ncb
*.nlo
nytprof.out
*.o
*.obj
[Oo]bj
*.opensdf
*.out
parts
*_p.c
*.pch
*.pdb
*.pdfsync
*.pgc
*.pgd
pip-log.txt
pm_to_blib
*.ps
*.psess
publish
*.py[co]
*.qrc.cpp
_ReSharper*
[Rr]elease/
*.rsp
safety/     # hmmm
save/
*.sbr
scratch/
*.sdf
sdist
Seq64cli/seq64cli
Seq64portmidi/seq64portmidi
Seq64qt5/qseq64
Seq64rtmidi/seq64
Seq64rtmidi/seq64-static
Sequencer64/sequencer64
Session.vim
*.sln.docstates
*.slo
*.snm
*.so
sql
stamp-h1
*.status
stylecop.*
*.suo
.svn/
.*.sw[a-z]
*.synctex.gz
*.t
tags
TAGS
TestResults
tests/
Thumbs.db
*.tlb
*.tlh
*.tli
*.tmp
tmp/        # hmmm
*.toc
.tox
*.trs
ui_*.h
*.un~
UpgradeLog*.XML
_UpgradeReport_Files/
*.ui.h
*.user
var
vgcore
*.vrb
*.vsp
*.vspscc

