#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
#
# \file        debian/rules
# \library     sequencer64
# \author      Chris Ahlstrom
# \date        2015-09-11
# \updates     2017-11-19
# \version     $Revision$
# \license     $XPC_SUITE_GPL_LICENSE$
#
# See debhelper(9).  Enables output of every command that modifies files on the
# build system.
#
# Uncomment this to turn on verbose mode.
#
#  export DH_OPTIONS=-v
#  export DH_VERBOSE=1
#
# see FEATURE AREAS in dpkg-buildflags(1)
#  export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#
# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#  export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#  export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

#  export LD_LIBRARY_PATH=$(shell pwd)/lib/Linux/$(DEB_BUILD_GNU_CPU)

# override_dh_clean:
#	echo Skipping dh_clean

override_dh_auto_test:
override_dh_usrlocal:
override_dh_shlibdeps:
	dh_shlibdeps -l$(shell pwd)/lib/$(shell uname -m)

#	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info -l$(shell pwd)/lib/$(shell uname -m)

LDFLAGS+=-Wl,--as-needed,-static

%:
	dh $@ --with=autotools_dev

