[Desktop Entry]
Name=Sequencer64
GenericName=Sequencer64
Comment=MIDI Loop Sequencer derived from seq24
Comment[fr]=Séquenceur de boucle MIDI dérivé de seq24
Icon=/usr/share/pixmaps/sequencer64.xpm

Type=Application
Categories=AudioVideo;Audio;

Exec=seq64
Terminal=false
